20*-build.v
legal.txt
.svn
xilinx
obj_dir
obj-pc
obj-zip
*.a
*.fst
*.o
*.vcd
*.vvp
*.bak
.swp
.*.swp
.*.swo
svn-commit*
*_tb
*_tb.dbl
*dbg.txt
*dump.txt
*debug.txt
tags
cpudefs.h
design.h
octave-workspace
core
*.aux
*.log
*.out
*.ps
*.yslog
*.smt2
vivado*.jou
vivado_pid*
*.autosave
pi/
reports/
tcl/
deploy.sh
