cfgscope
cpunetscope
ddr3dbg
emmcscope
fanscope
flashid
flashscope
gatescope
i2casm
i2cscope
netscope
netuart
routescope
routestat
rxedidscope
satapscope
satalscope
satarscope
satatscope
sdioscope
smiscope
wbregs
zipdbg
zipload
zipstate
